In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pplot as plt

<ipython-input-2-7fef1c020559>:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

<class 'ModuleNotFoundError'>: No module named 'seaborn'

In [3]:
auto = pd.read_csv("Automobile.csv")

In [4]:
auto.head()

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,168,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [5]:
auto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201 entries, 0 to 200
Data columns (total 26 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   symboling            201 non-null    int64
 1   normalized_losses    201 non-null    int64
 2   make                 201 non-null    object
 3   fuel_type            201 non-null    object
 4   aspiration           201 non-null    object
 5   number_of_doors      201 non-null    object
 6   body_style           201 non-null    object
 7   drive_wheels         201 non-null    object
 8   engine_location      201 non-null    object
 9   wheel_base           201 non-null    float64
 10  length               201 non-null    float64
 11  width                201 non-null    float64
 12  height               201 non-null    float64
 13  curb_weight          201 non-null    int64
 14  engine_type          201 non-null    object
 15  number_of_cylinders  201 non-null    object
 16  engine_size          201 non-null    int64
 17  fuel_system          201 non-null    object
 18  bore                 201 non-null    float64
 19  stroke               201 non-null    float64
 20  compression_ratio    201 non-null    float64
 21  horsepower           201 non-null    int64
 22  peak_rpm             201 non-null    int64
 23  city_mpg             201 non-null    int64
 24  highway_mpg          201 non-null    int64
 25  price                201 non-null    int64
dtypes: float64(7), int64(9), object(10)
memory usage: 33.0+ KB

In [8]:
auto['price'].mean()

13207.129353233831

In [9]:
auto[auto['price']==auto['price'].min()]

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
134,2,83,subaru,gas,std,two,hatchback,fwd,front,93.7,...,97,2bbl,3.62,2.36,9.0,69,4900,31,36,5118

In [10]:
auto[auto['horsepower']>100].count()

symboling              90
normalized_losses      90
make                   90
fuel_type              90
aspiration             90
number_of_doors        90
body_style             90
drive_wheels           90
engine_location        90
wheel_base             90
length                 90
width                  90
height                 90
curb_weight            90
engine_type            90
number_of_cylinders    90
engine_size            90
fuel_system            90
bore                   90
stroke                 90
compression_ratio      90
horsepower             90
peak_rpm               90
city_mpg               90
highway_mpg            90
price                  90
dtype: int64

In [29]:
auto[auto['body_style'] == 'hatchback'].info()

<class 'pandas.core.frame.DataFrame'>
Index: 68 entries, 2 to 186
Data columns (total 26 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   symboling            68 non-null     int64
 1   normalized_losses    68 non-null     int64
 2   make                 68 non-null     object
 3   fuel_type            68 non-null     object
 4   aspiration           68 non-null     object
 5   number_of_doors      68 non-null     object
 6   body_style           68 non-null     object
 7   drive_wheels         68 non-null     object
 8   engine_location      68 non-null     object
 9   wheel_base           68 non-null     float64
 10  length               68 non-null     float64
 11  width                68 non-null     float64
 12  height               68 non-null     float64
 13  curb_weight          68 non-null     int64
 14  engine_type          68 non-null     object
 15  number_of_cylinders  68 non-null     object
 16  engine_size          68 non-null     int64
 17  fuel_system          68 non-null     object
 18  bore                 68 non-null     float64
 19  stroke               68 non-null     float64
 20  compression_ratio    68 non-null     float64
 21  horsepower           68 non-null     int64
 22  peak_rpm             68 non-null     int64
 23  city_mpg             68 non-null     int64
 24  highway_mpg          68 non-null     int64
 25  price                68 non-null     int64
dtypes: float64(7), int64(9), object(10)
memory usage: 11.7+ KB

In [30]:
auto['make'].value_counts().head(3)

make
toyota    32
nissan    18
mazda     17
Name: count, dtype: int64

In [31]:
auto[auto['price']==7099]['make']

87    nissan
Name: make, dtype: object

In [32]:
auto[auto["price"] >40000]

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
15,0,149,bmw,gas,std,two,sedan,rwd,front,103.5,...,209,mpfi,3.62,3.39,8.0,182,5400,16,22,41315
70,0,140,mercedes-benz,gas,std,four,sedan,rwd,front,120.9,...,308,mpfi,3.80,3.35,8.0,184,4500,14,16,40960
71,1,140,mercedes-benz,gas,std,two,hardtop,rwd,front,112.0,...,304,mpfi,3.80,3.35,8.0,184,4500,14,16,45400

In [1]:
auto[(auto['body_style']=='sedan') & (auto['price']<7000)]

<class 'NameError'>: name 'auto' is not defined